doctype html
html
  head
    title= title 
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    main
      a(href='/auth/fb')
        button(type='button', name='button') Login with Instagram 
      #main-left
        form#frm-search(action='#')
          input#keyword(type='text', name='keyword', placeholder='Type something and enter', autocomplete='off', autofocus='')
          input#clear(type='button', value='CLEAR')
        #result-search
      #main-right
        #video
        p#title-queue
        #queue-play
      .clear-fix
      a#back-to-top(href='#', title='Back to top') ↑
    footer
      p#copy
    // script
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/app.js')
    script(src='https://apis.google.com/js/client.js?onload=init')
    script(src='http://www.youtube.com/player_api')
    script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
    script.
      if ($('#back-to-top').length) {
      var scrollTrigger = 100, // px
      backToTop = function () {
      var scrollTop = $(window).scrollTop();
      if (scrollTop > scrollTrigger) {
      $('#back-to-top').addClass('show');
      } else {
      $('#back-to-top').removeClass('show');
      }
      };
      // backToTop();
      $(window).on('scroll', function () {
      backToTop();
      });
      $('#back-to-top').on('click', function (e) {
      e.preventDefault();
      $('html,body').animate({
      scrollTop: 0
      }, 500);
      });
      }
    script.
      var yearCur = new Date().getFullYear();
      $("#copy").html("&copy " + yearCur + " - bt");
