doctype html 
html
  head
    title=title
    link(rel='stylesheet', href='/style.css')
    meta(name='viewport' content='windth=device-width, initial-scale=1')
body 
  .wrap 
    img.cover(src=images[1].standard_resolution.url)
    .content
      h1=name
      h1=link[1]
      a(href=homePage) website
      p=bio
      each image, i in images
        img.shots(src=image.thumbnail.url)
        